.ticket-management-wrapper {

    display:block;
    height:92%;
}

.ticket-sub-wrapper {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.blue {
    background-color: rgba(90, 146, 237,0.3);
}

.purple {
    background-color: rgba(214, 138, 255,0.3);
}

.queue {
    width: 53%
    
}

.inactive {
    width: 23%;
}

.active {
    width: 21%;
}

.blue .active {
    background-color: rgba(90, 146, 237,1);
}

.purple .active {
    background-color: rgba(214, 138, 255,1);
}

.ticket-box {
    height: 96%;
    background-color: white;
    border-color: #3b336586;
    border-style: solid;
    border-radius: 10px;
    box-sizing: border-box;
    text-align:center;

}



.ticket-box .ticket-list {
    width: 45%;
    /* margin: 10px; */
    /* padding: 10px; */
}

table {
    width: 100%;
    border-collapse: collapse;
    /* margin-bottom: 20px; */
    box-sizing: border-box;
    
}

table td {
    padding: 8px;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
}

table th {
    padding: 8px;
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
}

table thead {
    background-color: #f2f2f2;
    font-weight: bold;
    width: 100%
}

.blue button.positive, .purple button.positive {
    background-color: rgb(18, 164, 38);
}

.blue button.positive:hover, .purple button.positive:hover {
    background-color: rgb(43, 183, 62);
}

.blue button.negative, .purple button.negative {
    background-color: rgb(164, 18, 18);
}

.blue button.negative:hover, .purple button.negative:hover {
    background-color: rgb(195, 43, 43);
}

.blue button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #4b64ca;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
}

.purple button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #cb2ed7;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
}

.blue button:hover {
    background-color: #637bd9;
}


.purple button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #cb2ed7;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
}

.purple button:hover {
    background-color: #dd65e6;
}

button:disabled {
    background-color: #ccc; /* Gray background */
    color: #666; /* Dark gray text */
    cursor: not-allowed; /* Change cursor to indicate disabled state */
    opacity: 0.4; /* Reduce opacity */
}


input {
    width: 40px;
    font-size: 20px;
}

.active-table input {
    width: 50px;
    height: 40px;
}


.ticket-box .inputs {
    width: 55%;
}

.ticket-list {
    background-color: rgb(205, 201, 201);
    overflow-y: auto;
    overflow-x: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.ticket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4%;
    padding: 0 10px; /* Padding on both left and right */
    box-sizing: border-box;
}

.rectangle-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4%;
    padding: 0 7% 0 8%; /* Padding on both left and right */
    box-sizing: border-box;
    font-size:20px;
    font-family: 'Manjari-Bold';
}

.left-content {
    display: flex;
    align-items: center;
    gap: 50px; /* Space between the left-aligned items */
}

.ticket-header button {
    padding: 5px 10px; /* Adjust button padding for better appearance */
    border: none;
    border-radius: 4px;
    background-color: #e6900d;
    color: white;
    cursor: pointer;
}

.ticket-header button:hover {
    background-color: #e4a340;
}

.ticket-box {
    overflow-y: auto;
    overflow-x: auto;
}

.inactive.ticket-box {
    display: flex;
    flex-direction: row;
}

.error {
    background-color:rgb(195, 43, 43);
    color: #ffffff;
    padding: 3px 5px;
    border-radius: 5px;
    
}

.late {
    background-color: #871717;
    color: #ffffff;
}

.early {
    background-color: #178749;
    color: #ffffff;
}

.success {
    background-color:rgb(18, 164, 38);
    color: #ffffff;
    padding: 3px 5px ;
    border-radius: 5px;
}

@keyframes blue-blink {
    0%, 100% {
        background-color: rgba(90, 146, 237, 1);
    }
    50% {
        background-color: white;
    }
}

@keyframes purple-blink {
    0%, 100% {
        background-color: rgba(214, 138, 255,1);
    }
    50% {
        background-color: white;
    }
}

.inputs {
    margin-top: 40px;
}

.inputs p {
    font-size: 19px;
    
}

.inputs button, .noActive button {
    font-size: 18px;
    width: 40%;

}

.inputs input{
    font-size: 32px;
    width: 35%;
    height: 50px;
}

.quickstart input {
    font-size: 32px;
    width: 24%;
    height: 30px;
}
  

.blue-blink {
    animation: blue-blink 1s infinite;
}

.purple-blink {
    animation: purple-blink 1s infinite;
}

.noActive p {
    font-size: 18px;
}

.noActive {
    margin-top: 100px;
}


