<div class="ticket-header">
    <div class="left-content">
        <span>PicCho Ticket Management System</span>
        <span *ngIf="errorMessage" class="error">{{ errorMessage }}</span>
        <span *ngIf="successMessage" class="success">{{ successMessage }}</span>
    </div>
    <button (click)="resetTickets()" [disabled] = "(tickets | filterTickets:inactiveFilter).length!==noTickets">Reset Ticket Order/Status</button>
</div>
<div class="rectangle-header">
    <span>Inactive Tickets</span>
    <span>Tickets in Queue</span>
    <span>Active Tickets</span>
</div>
<div class="ticket-management-wrapper">
    <div class="blue ticket-sub-wrapper">
        <div class="inactive ticket-box">
            <div class="ticket-list">
            <table class="show">
                <thead class="box-header">
                    <th>Blue Ticket</th>
                    <th></th>
                </thead>
                <tbody class="inactive-table" *ngFor="let item of tickets | filterTickets:inactiveBlueFilter">
                    <td>{{ item.number }}</td>
                    <td><button (click)="toggleHideTicket(item.number, item.colour)">Hide</button></td>
                </tbody>
            </table>
            <table class="hidden">
                <thead class="box-header">
                    <th>Hidden Ticket</th>
                    <th></th>
                </thead>
                <tbody class="inactive-table" *ngFor="let item of tickets | filterTickets:inactiveBlueHiddenFilter">
                    <td>{{ item.number }}</td>
                    <td><button (click)="toggleHideTicket(item.number, item.colour)" class="positive">Show</button></td>
                </tbody>
            </table>
            </div>
            <div class="inputs">
                <div class="overlay" [ngClass]="{'disabled': (tickets | filterTickets:inactiveAllBlue).length===noTickets/2}"></div>
                <p class="focus">How many people?</p>
                <input #inactiveBluePeople [(ngModel)]="inactiveBluePeopleVar" type="number" min=1 max=8 placeholder="1-8"
                [disabled]="(tickets | filterTickets:inactiveAllBlue).length===noTickets/2"
                (keydown.enter)="checkToProceed(inactiveBluePeopleVar,1,8); !errorMessage ? queueTicket('blue',inactiveBluePeopleVar) : null"><br>
                <button (click)="checkToProceed(inactiveBluePeopleVar,1,8); !errorMessage ? queueTicket('blue',inactiveBluePeopleVar) : null" [disabled]="!inactiveBluePeopleVar">Queue</button>
                <p *ngIf="inactiveBluePeopleVar>0&&inactiveBluePeopleVar<9">
                    {{getSessionTime(inactiveBluePeopleVar)}} min session:<br>
                    {{getAMPMTime(getNewStartingTime('blue'))}} - 
                    {{getAMPMTime(addMinutes(getSessionTime(inactiveBluePeopleVar),getNewStartingTime('blue')))}}</p>
            </div>
        </div>
        <div class="queue ticket-box">
            <div class="overlay" [ngClass]="{'disabled': (tickets | filterTickets:inactiveAllBlue).length===noTickets/2}"></div>
            <h2>New Customers: {{getTotalWaitTime('blue')}} minutes waiting, {{getAMPMTime(getNewStartingTime('blue'))}} Starting</h2>
            <table>
                <thead class="box-header">
                    <th>No.</th>
                    <th>Name</th>
                    <th>People</th>
                    <th>Session (m)</th>
                    <th>Time Left (m)</th>
                    <th>Queued</th>
                    <th>Promised Start</th>
                    <th>Est. Start</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody class="queue-table" *ngFor="let item of tickets | filterTickets:queueBlueFilter">
                    <td>{{ item.number }}</td>
                    <td><input #queueBlueName type="string" placeholder="name" class="nameInput"
                        value={{item.name}} 
                        (keydown.enter)="editName(item.number, item.colour, queueBlueName.value)"
                        (blur)="resetInput($event, item.name)"></td>
                    <td><input #queueBluePeople type="number" min=1 max=8 placeholder="1-8" 
                        value={{item.people}} 
                        (keydown.enter)="checkToProceed(queueBluePeople.valueAsNumber,1,8); !errorMessage ? editPeople(item.number, item.colour, queueBluePeople.valueAsNumber) : null"
                        (blur)="resetInput($event, item.people)"></td>
                    <td>{{getSessionTime(item.people)}}</td>
                    <td>{{getEstimatedWaitTime(item.number, item.colour)}}</td>
                    <td>{{getAMPMTime(item.queueStart)}}</td>
                    <td>{{getAMPMTime(item.promisedStart)}}</td>
                    <td [ngClass]="{'late': getMinuteDifference(getEstimatedStartTime(item.number, item.colour),item.promisedStart)>=3,
                        'early': getMinuteDifference(item.promisedStart,getEstimatedStartTime(item.number, item.colour))>0}">
                        {{getAMPMTime(getEstimatedStartTime(item.number, item.colour))}}</td>
                    <td><button (click)="startConfirmationWrapper(item.number,item.colour)" [disabled] = "(tickets | filterTickets:activeBlueFilter).length>0" class="positive">GO</button></td>
                    <td><button (click)="dequeueConfirmationWrapper(item.number,item.colour)" class="negative">X</button></td>

                </tbody>
            </table>
        </div>
        <div class="active ticket-box" [ngClass]="{'blue-blink': blueBlink}">
            <div *ngIf="(tickets | filterTickets:activeBlueFilter).length; else noItemsBlue">
            <div class="active-table" *ngFor="let item of tickets | filterTickets:activeBlueFilter">
                <h1>Ticket {{ item.number }} ({{ item.name }})</h1>
                <h3>{{item.people}} People</h3>
                <h3>Session started at {{getAMPMTime(item.sessionStart)}}</h3>
                <h3>Session ends in <input #sessionEndingBlue type="number" placeholder="0-60" min = 0 max = 60 
                    value={{updateBlinkWrapper(item.sessionEnd,item.colour)}} 
                    (keydown.enter)="checkToProceed(sessionEndingBlue.valueAsNumber,0,60); !errorMessage ? editSessionEnd(item.number,item.colour,sessionEndingBlue.valueAsNumber) : null"
                    (blur)="resetInput($event, getMinuteDifference(item.sessionEnd))"> minutes</h3>
                <h3>Session ending at {{getAMPMTime(item.sessionEnd)}}</h3>
                <button (click)="dequeueConfirmationWrapper(item.number,item.colour); resetBlink(item.colour)" class="negative">END SESSION</button>
            </div>
            </div>
            <ng-template #noItemsBlue>
                <div class="noActive">
                <p class="quickstart">QuickStart without a ticket for<br><input #queueBluePeopleQuick [(ngModel)]="queueBluePeopleQuickVar" type="number" min=1 max=8 placeholder="1-8" 
                    (keydown.enter)="checkToProceed(queueBluePeopleQuickVar,1,8); !errorMessage ? quickSessionStart('blue', queueBluePeopleQuickVar) : null"> People</p>
                <button (click)="checkToProceed(queueBluePeopleQuickVar,1,8); !errorMessage ? quickSessionStart('blue', queueBluePeopleQuickVar) : null" [disabled]="!queueBluePeopleQuickVar">Start</button>
                <p *ngIf="queueBluePeopleQuickVar>0&&queueBluePeopleQuickVar<9&&(tickets | filterTickets:inactiveAllBlue).length!==noTickets/2">{{getSessionTime(queueBluePeopleQuickVar)}} min session:<br>
                    {{getAMPMTime()}} - 
                    {{getAMPMTime(addMinutes(getSessionTime(queueBluePeopleQuickVar)))}}</p>
                </div>
            </ng-template>
            
            
        </div>
    </div>
    <div class="purple ticket-sub-wrapper">
        <div class="inactive ticket-box">
            <div class="ticket-list">
            <table class="show">
                <thead class="box-header">
                    <th>Purple Ticket</th>
                    <th></th>
                </thead>
                <tbody class="inactive-table" *ngFor="let item of tickets | filterTickets:inactivePurpleFilter">
                    <td>{{ item.number }}</td>
                    <td><button (click)="toggleHideTicket(item.number, item.colour)">Hide</button></td>
                </tbody>
            </table>
            <table class="hidden">
                <thead class="box-header">
                    <th>Hidden Ticket</th>
                    <th></th>
                </thead>
                <tbody class="inactive-table" *ngFor="let item of tickets | filterTickets:inactivePurpleHiddenFilter">
                    <td>{{ item.number }}</td>
                    <td><button (click)="toggleHideTicket(item.number, item.colour)" class="positive">Show</button></td>
                </tbody>
            </table>
            </div>
            <div class="inputs">
                <div class="overlay" [ngClass]="{'disabled': (tickets | filterTickets:inactiveAllPurple).length===noTickets/2}"></div>
                <p class="focus">How many people?</p>
                <input #inactivePurplePeople [(ngModel)]="inactivePurplePeopleVar" type="number" min=1 max=8 placeholder="1-8"
                [disabled]="(tickets | filterTickets:inactiveAllPurple).length===noTickets/2"
                (keydown.enter)="checkToProceed(inactivePurplePeopleVar,1,8); !errorMessage ? queueTicket('purple',inactivePurplePeopleVar) : null"><br>
                <button (click)="checkToProceed(inactivePurplePeopleVar,1,8); !errorMessage ? queueTicket('purple',inactivePurplePeopleVar) : null" [disabled]="!inactivePurplePeopleVar">Queue</button>
                <p *ngIf="inactivePurplePeopleVar>0&&inactivePurplePeopleVar<9">
                    {{getSessionTime(inactivePurplePeopleVar)}} min session:<br>
                    {{getAMPMTime(getNewStartingTime('purple'))}} - 
                    {{getAMPMTime(addMinutes(getSessionTime(inactivePurplePeopleVar),getNewStartingTime('purple')))}}</p>
            </div>
        </div>
        <div class="queue ticket-box">
            <div class="overlay" [ngClass]="{'disabled': (tickets | filterTickets:inactiveAllPurple).length===noTickets/2}"></div>
            <h2>New Customers: {{getTotalWaitTime('purple')}} minutes waiting, {{getAMPMTime(getNewStartingTime('purple'))}} Starting</h2>
            <table>
                <thead class="box-header">
                    <th>No.</th>
                    <th>Name</th>
                    <th>People</th>
                    <th>Session (m)</th>
                    <th>Time Left (m)</th>
                    <th>Queued</th>
                    <th>Promised Start</th>
                    <th>Est. Start</th>
                    <th></th>
                    <th></th>
                </thead>
                <tbody class="queue-table" *ngFor="let item of tickets | filterTickets:queuePurpleFilter">
                    <td>{{ item.number }}</td>
                    <td><input #queuePurpleName type="string" placeholder="name" class="nameInput" 
                        value={{item.name}} 
                        (keydown.enter)="editName(item.number, item.colour, queuePurpleName.value)"
                        (blur)="resetInput($event, item.name)"></td>
                    <td><input #queuePurplePeople type="number" min=1 max=8 placeholder="1-8" 
                        value={{item.people}} 
                        (keydown.enter)="checkToProceed(queuePurplePeople.valueAsNumber,1,8); !errorMessage ? editPeople(item.number, item.colour, queuePurplePeople.valueAsNumber) : null"
                        (blur)="resetInput($event, item.people)"></td>
                    <td>{{getSessionTime(item.people)}}</td>
                    <td>{{getEstimatedWaitTime(item.number, item.colour)}}</td>
                    <td>{{getAMPMTime(item.queueStart)}}</td>
                    <td>{{getAMPMTime(item.promisedStart)}}</td>
                    <td [ngClass]="{'late': getMinuteDifference(getEstimatedStartTime(item.number, item.colour),item.promisedStart)>=3,
                        'early': getMinuteDifference(item.promisedStart,getEstimatedStartTime(item.number, item.colour))>0}">
                        {{getAMPMTime(getEstimatedStartTime(item.number, item.colour))}}</td>
                    <td><button (click)="startConfirmationWrapper(item.number,item.colour)" [disabled] = "(tickets | filterTickets:activePurpleFilter).length>0" class="positive">GO</button></td>
                    <td><button (click)="dequeueConfirmationWrapper(item.number,item.colour)" class="negative">X</button></td>

                </tbody>
            </table>
        </div>
        <div class="active ticket-box" [ngClass]="{'purple-blink': purpleBlink}">
            <div *ngIf="(tickets | filterTickets:activePurpleFilter).length; else noItemsPurple">
                <div class="active-table" *ngFor="let item of tickets | filterTickets:activePurpleFilter">
                    <h1>Ticket {{ item.number }} ({{ item.name }})</h1>
                    <h3>{{item.people}} People</h3>
                    <h3>Session started at {{getAMPMTime(item.sessionStart)}}</h3>
                    <h3>Session ends in <input #sessionEndingPurple type="number" placeholder="0-60" min = 0 max = 60
                        value={{updateBlinkWrapper(item.sessionEnd,item.colour)}}
                        (keydown.enter)="checkToProceed(sessionEndingPurple.valueAsNumber,0,60); !errorMessage ? editSessionEnd(item.number,item.colour,sessionEndingPurple.valueAsNumber) : null"
                        (blur)="resetInput($event, getMinuteDifference(item.sessionEnd))"> minutes</h3>
                    <h3>Session ending at {{getAMPMTime(item.sessionEnd)}}</h3>
                    <button (click)="dequeueConfirmationWrapper(item.number,item.colour); resetBlink(item.colour)" class="negative">END SESSION</button>
                </div>
                </div>
                <ng-template #noItemsPurple>
                    <div class="noActive">
                    <p class="quickstart">QuickStart without a ticket for<br><input #queuePurplePeopleQuick [(ngModel)]="queuePurplePeopleQuickVar" type="number" min=1 max=8 placeholder="1-8" 
                        (keydown.enter)="checkToProceed(queuePurplePeopleQuickVar,1,8); !errorMessage ? quickSessionStart('purple', queuePurplePeopleQuickVar) : null"> People</p>
                    <button (click)="checkToProceed(queuePurplePeopleQuickVar,1,8); !errorMessage ? quickSessionStart('purple', queuePurplePeopleQuickVar) : null" [disabled]="!queuePurplePeopleQuickVar">Start</button>
                    <p *ngIf="queuePurplePeopleQuickVar>0&&queuePurplePeopleQuickVar<9&&(tickets | filterTickets:inactiveAllPurple).length!==noTickets/2">
                        {{getSessionTime(queuePurplePeopleQuickVar)}} min session:<br>
                        {{getAMPMTime()}} - 
                        {{getAMPMTime(addMinutes(getSessionTime(queuePurplePeopleQuickVar)))}}</p>
                    </div>
                </ng-template>
        </div>
        
    </div>

</div>
